/* GENERAL */
*{
    box-sizing: border-box;
}
body,p,h1,h2,h3,ul,li{
    margin: 0;
    padding: 0;
}
.main{
   height: 100vh !important;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

/* HEADER */
.header{
    background-color: #1C1C1C;
    display: flex;
    backdrop-filter: blur(40px);
    align-items: center;
}
/* LOGO */
.logo{
    margin-right: auto;
}
/* NAVBAR */
.nav-bar{
    display: flex;
    align-items: center;
}

/* MAIN CONTENT */
.content{
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Oxygen', sans-serif;
    height: 80vh !important;
}
/****/
.announ{
    font-weight: 300;
}
.head-content{
    font-weight: 700;
    color: #F69225;
}
/* TIME */
.time{
    display: flex;
    justify-content: center;
}
.timer{
    margin-right: 30px;
}
.days-count,.hours-count,.mins-count{
    font-weight: 400;
}
.days-l,.hours-l,.mins-l{
    font-weight: 300;
    text-transform: uppercase;
}
/**SUBSCRIBE**/
.subcribe{
    font-family: 300;
    padding-bottom: 17px;
}
/* FORM */
form{
    display: flex;
    justify-content: center;
}
.input-field{
    background: inherit;
    padding: 11px 24px;
    outline: none;
    color: white;
}
.btn{
    padding: 12px 24px;
    border-radius: 0;
    border-style: none;
    color: #ffffff;
    background-color: #F69225;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

/* FOOTER */
footer{
    background-color: black;
    background-repeat:no-repeat;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}
.bkg{
    visibility: hidden;
    height: 100%;
}
.footer-content{
    background-color: #F69225;
    backdrop-filter: blur(40px);
    font-weight: 300;
    color: white;
}
/* page links */
.footer-link{
    display: flex;
}

/* Desktop View */
@media screen and (min-width: 755px){

    /* Header */
    .header{
        padding: 0 50px;
        display: flex;
        height: 120px;
    }
    /* NavBar */
    .home,.toggle{
        display: none;
    }
    .nav-content{
        margin-left: 45px;
        color:#ffffff;
        font-weight: normal;
        font-size: 1.125rem;
    }
    .active{
        color: #F69225;
    }
    .navigation{
        display: flex;
    }

    /* MAIN CONTENT */
    .content{
        padding: 15px 20px 0;
    }
    /****/
    .announ{
        font-size: 2.25rem;
    }
    .head-content{
        font-size: 8rem;
    }
    /* TIME */
    .time{
        padding-bottom: 50px;
    }
    .days-count,.hours-count,.mins-count{
        font-size: 6rem;
    }
    .days-l,.hours-l,.mins-l{
        font-size: 2.25rem;
    }
    /**SUBSCRIBE**/
    .subcribe{
        font-size: 1.5rem;
    }
    /* FORM */
    form{
        padding-bottom: 40px;
    }
    .input-field{
        border: 2px #ffffff;
        width: 45%;
        border-style: solid none solid solid;
    }
    .btn{
        font-size: 1.5rem;
    }

    /* FOOTER */
    footer{
        background-image: url(/DesignAssets/food-image-desktop.svg);
        background-size: contain;
    }
    .bkg{
        width: 55%;
    }
    .footer-content{
        display: flex;
        opacity: 0.7;
        backdrop-filter: blur(80px);
        padding: 0 50px;
        align-items: center;
        font-size: 0.75rem;
        justify-content: space-between;
        height: 60px;
    }
    /* page links */
    .footer-link{
        width: 50%;
    }
    .review,.contact,.privacy{
        margin-right: 45px;
    }
    .FAQ{
        margin-right: auto;
    }
    .TC{
        border-left: solid 1px #ffffff;
        padding-left: 7px;
    }
    /* SOCIAL ICONS */
    .social{
        display: flex;
    }
    .facebook,.insta,.twit{
        margin-right: 5px;
    }
}

/* Mobile View */
@media screen and (max-width:754px){

    /* Header */
    .header{
        padding: 10px 30px;
        height: 60px;
    }
    .logo-img{
        width: 60%;
    }
    /* NavBar */
    .toggle-nav, .active{
        display: none;
    }
    .home{
        margin-right: 30px;
        width: 60%;
    }
    /* toggle */
    .toggle{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .top{
        padding-bottom: 5px;
    }

    /* MAIN CONTENT */
    .content{
        padding: 100px 20px 0;
    }
    /****/
    .announ{
        font-size: 0.96rem;
    }
    .head-content{
        font-size: 4.5rem;
    }
    /* TIME */
    .time{
        padding-bottom: 30px;
    }
    .days-count,.hours-count,.mins-count{
        font-size: 1.680175rem;
    }
    .days-l,.hours-l,.mins-l{
        font-size: 0.8400875rem;
    }
    /**SUBCRIBE**/
    .subcribe{
        font-size: 1rem;
    }
    /* FORM */
    form{
        flex-direction: column;
        padding-bottom: 90px;
    }
    .input-field{
        border: solid 1.4005px #ffffff;
        width: 100%;
    }
    .btn{
        font-size: 0.78285625rem;
        margin-top: 10px;
    }

    /* FOOTER */
    footer{
        background-image: url(/DesignAssets/image.svg);
        background-size: cover;
    }
    .bkg{
        width: 100%;
    }
    .footer-content{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 12px 20px;
        font-size: 0.625rem;
        grid-row-gap:10px;
        color: white;
    }
    .footer-link{
        grid-column: 1/3;
        grid-row: 1/2;
        justify-content: space-between;
    }
    .copyright{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: flex-end;
        font-size: 0.5rem;
        align-self: center;
    }
    /* SOCIAL ICONS */
    .social{
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
    }
    .facebook,.insta,.twit{
        margin-right: 8px;
    }
}

/* Responsiveness for larger heights */
@media screen and (min-height: 1030px){
    .content{
        padding-top: 20vh;
    }
}